# This workflow builds the project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: build
on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code base
        # https://github.com/actions/checkout
        uses: actions/checkout@v2.3.4

      - name: Set up JDK 11
        # https://github.com/actions/setup-java
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'
          check-latest: true

      - name: Prepare Maven cache
        # https://github.com/actions/cache
        uses: actions/cache@v2.1.6
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}

      - name: Verify artifacts
        run: mvn -B -Pnextgen verify
